@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--ctp-base);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--ctp-text);
  font-size: 1.25rem;
  line-height: 1.7;
}

main {
  width: 75%;
  max-width: calc(100% - 2rem);
  margin: auto;
  padding: 3rem 1rem;
}

label {
  color: var(--ctp-text);
}

input,
textarea {
  background-color: var(--ctp-surface0);
  color: var(--ctp-text);
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border-color: var(--ctp-overlay0);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--ctp-accent);
}

h1,
h4 {
  margin: 0 0 0 0;
  color: var(--ctp-text);
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h4 {
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  font-size: 1rem;
  resize: none;
}

input {
  font-size: 1rem;
}

@media (max-width: 720px) {
  body {
    font-size: 1rem;
  }

  main {
    padding: 1rem;
  }
}

::selection {
  color: var(--ctp-crust);
  background-color: var(--ctp-accent);
}

::-moz-selection {
  color: var(--ctp-crust);
  background-color: var(--ctp-accent);
}