:root {
  color-scheme: light dark;

  --ctp-rosewater: light-dark(var(--ctp-latte-rosewater), var(--ctp-mocha-rosewater));
  --ctp-flamingo: light-dark(var(--ctp-latte-flamingo), var(--ctp-mocha-flamingo));
  --ctp-pink: light-dark(var(--ctp-latte-pink), var(--ctp-mocha-pink));
  --ctp-mauve: light-dark(var(--ctp-latte-mauve), var(--ctp-mocha-mauve));
  --ctp-red: light-dark(var(--ctp-latte-red), var(--ctp-mocha-red));
  --ctp-maroon: light-dark(var(--ctp-latte-maroon), var(--ctp-mocha-maroon));
  --ctp-peach: light-dark(var(--ctp-latte-peach), var(--ctp-mocha-peach));
  --ctp-yellow: light-dark(var(--ctp-latte-yellow), var(--ctp-mocha-yellow));
  --ctp-green: light-dark(var(--ctp-latte-green), var(--ctp-mocha-green));
  --ctp-teal: light-dark(var(--ctp-latte-teal), var(--ctp-mocha-teal));
  --ctp-sky: light-dark(var(--ctp-latte-sky), var(--ctp-mocha-sky));
  --ctp-sapphire: light-dark(var(--ctp-latte-sapphire), var(--ctp-mocha-sapphire));
  --ctp-blue: light-dark(var(--ctp-latte-blue), var(--ctp-mocha-blue));
  --ctp-lavender: light-dark(var(--ctp-latte-lavender), var(--ctp-mocha-lavender));
  --ctp-text: light-dark(var(--ctp-latte-text), var(--ctp-mocha-text));
  --ctp-subtext1: light-dark(var(--ctp-latte-subtext1), var(--ctp-mocha-subtext1));
  --ctp-subtext0: light-dark(var(--ctp-latte-subtext0), var(--ctp-mocha-subtext0));
  --ctp-overlay2: light-dark(var(--ctp-latte-overlay2), var(--ctp-mocha-overlay2));
  --ctp-overlay1: light-dark(var(--ctp-latte-overlay1), var(--ctp-mocha-overlay1));
  --ctp-overlay0: light-dark(var(--ctp-latte-overlay0), var(--ctp-mocha-overlay0));
  --ctp-surface2: light-dark(var(--ctp-latte-surface2), var(--ctp-mocha-surface2));
  --ctp-surface1: light-dark(var(--ctp-latte-surface1), var(--ctp-mocha-surface1));
  --ctp-surface0: light-dark(var(--ctp-latte-surface0), var(--ctp-mocha-surface0));
  --ctp-base: light-dark(var(--ctp-latte-base), var(--ctp-mocha-base));
  --ctp-mantle: light-dark(var(--ctp-latte-mantle), var(--ctp-mocha-mantle));
  --ctp-crust: light-dark(var(--ctp-latte-crust), var(--ctp-mocha-crust));

  --ctp-accent: var(--ctp-blue);
}